<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 ,h2 {
            text-align: center;
        }
        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
            }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Select Signup Form</h1>
    <form action="{% url 'signuppage2' %} ">
    {% csrf_token %}
    <h2> Doctor <button onclick="" style="width: auto;">Create account</button> </h2></form>
    
    <form action="{% url 'signuppage' %} ">
    <h2> Patient <button onclick="" style="width: auto;">Create account</button> </h2></form>
    
</body>
</html>